* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	height: 100%;
}

html {
	font-size: 90%;
}

body {
	background: white;
	font-family: 'Ubuntu', sans-serif;
}

a {
	color:  #ff5c00;
}

ul {
	padding: 0;
	list-style: none;
	text-align: left;
}

button.awesome {
	border-top: none;
	border-left: none;
	border-right: none;
}

.awesome {
	font-family: 'Ubuntu', sans-serif;
	background: #222 url(/images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	transition: transform 0.5s;
}

.small.awesome {
	font-size: 11px;
}
.medium.awesome {
	font-size: 13px;
}
.large.awesome {
	font-size: 14px;
	padding: 8px 14px 9px;
}

.blue.awesome {
	background-color: #2daebf;
}
.orange.awesome {
	background-color: #ff5c00;
}

.sign-container {
	min-height: 100%;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

.sign-box {
	margin-bottom: 20px;
	width: 300px;
	padding: 20px 15px;
	text-align: center;
	border: solid 1px rgba(0, 0, 0, 0.1);
}

.sign-box ul {
	font-size: 0.8rem;
}

.sign-box li {
	margin-bottom: 5px;
}

.sign-title {
	margin-bottom: 15px;
	font-size: 2.5rem;
	font-family: "Kaushan Script", cursive;
	text-align: center;
}

.sign-error {
	margin-bottom: 10px;
	color: #c90000;
}

@keyframes alert {
    from {
		opacity: 0;
		transform: translateY(-100%);
	}
    to {
		opacity: 1;
		transform: translateY(0);
	}
}

.alert {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 1.2rem;
	padding: 15px 5px;
	color: white;
	text-align: center;
}

.alert a {
	color: white;
}

.alert.anim-play {
	animation-name: alert;
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
}

.alert.anim-close {
	animation-direction: reverse;
}


.alert.success {
	background: #6ab100;
}

.alert.info {
	background: #2daebf;
}

.alert .close {
	float: right;
	margin-right: 15px;
	font-weight: strong;
	cursor: pointer;
}

form {
	display: block;
	padding: 0;
}

.form-input {
	display: block;
	padding: 5px;
	margin-bottom: 15px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
	border: solid 1px rgba(0, 0, 0, 0.1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 100%;
}

.form-btn {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5px;
}
